<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="col-sm-12">
            <h3><%=application.gettext('template-auth-singin-title')%></h3>
        </div>
        <form name="singin-form" action="<%=application.urlpath('/auth/singin/')%>" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-xs-12 col-sm-4">Email:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="email" type="email" class="form-control" name="singin-email" value="<%=http.param('singin-email')%>" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-xs-12 col-sm-4">Password:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="password" type="password" class="form-control" name="singin-password" required/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sing in</button>
        </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="col-sm-12">
            <h3><%=application.gettext('template-auth-singup-title')%></h3>
        </div>
        <form name="singup-form" action="/auth/singup/" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-xs-12 col-sm-4">Email:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="email" type="email" class="form-control" name="singup-email" value="<%=http.param('singup-email')%>" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-xs-12 col-sm-4">Password:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="password" type="password" class="form-control" name="singup-password" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-password" class="col-xs-12 col-sm-4">Confirm Password:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="confirm-password" type="password" class="form-control" name="singup-password" required/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sing up</button>
        </form>
    </div>
</div>
