<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<title>Backbone Chess</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
		<link rel="stylesheet" href="/css/chess.css" type="text/css"/>

		<script type="text/javascript" src="/js/vendor/require.js" data-main="/js/main"></script>
	</head>
	<body>
		<div id="chess" class="container">
			<div class="board"></div>
			<div class="players"></div>
			<div class="history"></div>
		</div>

		<div class="messenger"></div>

		<div class="ajax-loader">
			<img src="/img/ajax-loader.gif"/>
		</div>
	</body>
</html>
